<!DOCTYPE html>
<html>

<head>
    <title>Prywatna Klinika</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="script.js"></script>
</head>

<body>
    <header class="pageHeader">
        <h1>Prywatna klinika</h1>
    </header>

    <nav class="pageNav">
        <h3>Nawigacja</h3>
        <a href="/oddzial">Nasze oddziały</a> <br />
        <a>Zostań pacjentem</a> <br />
    </nav>

    <main class="pageMain">
        <article>
            <table>
                <% if (msg==='ok' ) { %>
                    <% rows.forEach(row=> { %>
                        <tr>
                            <% for (let key in row) { %>
                                <td>
                                    <bold>
                                        <%= key %>
                                    </bold>
                                </td>
                                <td>
                                    <%= row[key] %>
                                </td>
                                <% } %>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="2">Nie udało się wyświetlić zawartości</td>
                                </tr>
                                <% } %>
            </table>
        </article>
    </main>

    <aside class="pageAside">
        <!-- Dodatkowa treść -->
    </aside>

    <footer class="pageFooter">
        Autor: Igor Sala
    </footer>

</body>

</html>